{{ define "page" -}}
= {{ .Title }}
:overmind-id: {{ .Metadata.ID }}
:overmind-type: {{ .Metadata.Kind }}
:overmind-area:{{ with .Area.String }} {{ . }}{{ end }}
:overmind-tags:{{ with .Metadata.Tags.Strings }} {{ comma . }}{{ end }}
:overmind-created-at: {{ rfc3339 .Metadata.CreatedAt }}
:overmind-updated-at: {{ rfc3339 .Metadata.UpdatedAt }}

{{ end -}}
