{{ define "person" -}}
= {{ .Name }}
:overmind-id: {{ .Metadata.ID }}
:overmind-type: {{ .Metadata.Kind }}
:overmind-groups:{{ with .Groups.Strings }} {{ comma . }}{{ end }}
:overmind-tags:{{ with .Metadata.Tags.Strings }} {{ comma . }}{{ end }}
:overmind-created-at: {{ rfc3339 .Metadata.CreatedAt }}
:overmind-updated-at: {{ rfc3339 .Metadata.UpdatedAt }}

== Contact

== Context

== Notes

{{ end -}}
