{{ define "bookmark" -}}
= {{ .URL }}
:overmind-id: {{ .ID }}
:overmind-type: bookmark
:overmind-url: {{ .URL }}
:overmind-tags:{{ with .Tags }} {{ comma . }}{{ end }}
:overmind-created-at: {{ rfc3339 .CreatedAt }}
:overmind-updated-at: {{ rfc3339 .UpdatedAt }}

{{ end -}}
