{{ define "page" -}}
= {{ .Title }}
:overmind-id: {{ .ID }}
:overmind-type: page
:overmind-area:{{ with .Area }} {{ . }}{{ end }}
:overmind-tags:{{ with .Tags }} {{ comma . }}{{ end }}
:overmind-created-at: {{ rfc3339 .CreatedAt }}
:overmind-updated-at: {{ rfc3339 .UpdatedAt }}

{{ end -}}
