{{ define "page" -}}
= {{ .Title }}
:overmind-id: {{ .ID }}
:overmind-type: page
:overmind-area:{{ if not .Area.IsZero }} {{ .Area }}{{ end }}
:overmind-tags:{{ if not .Tags.IsEmpty }} {{ comma .Tags.Strings }}{{ end }}
:overmind-created-at: {{ rfc3339 .CreatedAt }}

{{ end -}}
